[submodule "themes/oceanic-zen"]
	path = themes/oceanic-zen
	url = https://github.com/barlog-m/oceanic-zen.git
[submodule "themes/solar-theme-zola"]
	path = themes/solar-theme-zola
	url = git@github.com:maxluoXIII/solar-theme-zola.git
