{% extends "index.html" %}

{% block sidebar_nav %}
  {% for link in config.extra.site_menus %}
    <li>
      <a href="{{ link.url }}">
        <span>
          {% if section.title == link.name %}
            <b>
          {% endif %}
            {{ link.name }}
          {% if section.title == link.name %}
            </b>
          {% endif %}
        </span>
      </a>
    </li>
  {% endfor %}
{% endblock sidebar_nav %}

{% block content %}
  <div class="section-content">{{ section.content | safe }}</div>
{% endblock content %}