{% extends "solar-theme-zola/templates/index.html" %}

{% block sidebar %}
  {% if config.extra.site_menus %}
  <nav>
    <ul class = "nav">
      {% block sidebar_nav %}
        {% if section and section.components | length != 0 %}
          {% set base_section = "/"~section.components[0] %}
        {% elif page %}
          {% set base_section = "/"~page.components[0] %}
        {% else %}
          {% set base_section = "" %}
        {% endif %}
        {% for link in config.extra.site_menus %}
          <li>
            <a href="{{ link.url }}">
              <span>
                {% if base_section is containing(link.url) %}
                  <b>
                {% endif %}
                  {{ link.name }}
                {% if base_section is containing(link.url) %}
                  </b>
                {% endif %}
              </span>
            </a>
          </li>
        {% endfor %}
      {% endblock sidebar_nav %}
    </ul>
  </nav>
  {% endif %}

  <div class="bio">
    <img class="avatar" src="{{config.extra.author.image}}" />
    <h3>{{config.extra.author.name}}</h3>
    <p>{{config.extra.author.bio}}</p>
  </div>
{% endblock sidebar %}

{% block content %}
  {% if paginator.pages %}
    {% set pages = paginator.pages %}
  {% else %}
    {% set pages = section.pages %}
  {% endif %}
  {% for page in pages %}
    <article class="post">
      <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
      {% if page.summary %}
        <div class="post-content">
          {{ page.summary | safe }}
          <nav class="readmore"><a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a></nav>
        </div>
      {% endif %}
      <p class="meta">Posted on <span class="postdate">{{ page.date | date(format="%Y-%m-%d") }}</span></p>
    </article>
  {% endfor %}
  {% block pagination %}
    {% if paginator.previous or paginator.next %}
      <nav class="pagination" role="pagination">
        {% if paginator.previous %}
          <a class="newer-posts" href="{{ paginator.previous }}"><span aria-hidden="true">&larr;</span> Newer Posts</a>
        {% endif %}
        <span class="page-number">Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
        {% if paginator.next %}
          <a class="older-posts" href="{{ paginator.next }}">Older Posts <span aria-hidden="true">&rarr;</span></a>
        {% endif %}
      </nav>
    {% endif %}
  {% endblock pagination %}
{% endblock content %}